{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your account has been successfully created and activated!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your account has been created and is ready to use!" %}

{% endblock text_body %}

{% block html_body %}
<p>{% trans "Your account has been created and is ready to use!" %}</p>

<p style="margin-bottom:100px"><a
    style="display: inline-block; padding: 10px 20px; background-color:   #51ad2d  ; color: white; text-decoration: none;"
    href="{{ protocol }}://{{ domain }}/account/login">Login to Account</a></p>

<span>Follow us: </span>
<div style="display: flex; justify-content: center; align-items: center;">
  <a href="#"
    style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #E1306C; color: white; text-decoration: none; font-size:10px">
    Instagram
  </a>
  <a href="#"
    style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #1da1f2; color: white; text-decoration: none; font-size:10px">
    Twitter
  </a>
  <a href="#"
    style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #0077B5; color: white; text-decoration: none; font-size:10px">
    LinkedIn
  </a>
  <a href="#"
    style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #ff0000; color: white; text-decoration: none; font-size:10px">
    Youtube
  </a>
</div>

<i>{% blocktrans %}If you face difficulties in Login to your account kindly contact us on:
  contact@geekyshows.com {% endblocktrans %}</i>

{% endblock html_body %}